.product-comments {
  margin: 50px 20px;
  padding: 20px 0;
}

.product-comments input,
.product-comments h3,
.product-comments textarea {
  margin-bottom: 5px;
}

.product-comments-box {
  margin-top: 35px;
}

.product-comments-item {
  padding: 15px;
  background-color: #d1bbe173;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-comments-item span {
  margin-right: 15px;
}

.product-comments-item div {
  margin-top: 5px;
}
